In [1]:
%config Completer.use_jedi = False
import numpy as np
import pandas as pd
import os
import glob
import csv
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
os.chdir("../../../data/input/Raw_bioinfo/Second_analysis/")

In [ ]:
def parse_kegg_cts(filename):
    domain_cts = pd.read_csv(filename)
    domain_cts["ID"]= filename.replace("_R_genes_genecounts_by_domain.csv","")
    domain_cts["total_atm"] = domain_cts["AA_C"]+domain_cts["AA_H"]+domain_cts["AA_N"]+domain_cts["AA_O"]+domain_cts["AA_S"]
    domain_cts[["AA_C", "AA_H", "AA_N", 
                "AA_O", "AA_S"]] = domain_cts[["AA_C", "AA_H", "AA_N", 
                                               "AA_O", "AA_S"]].div(domain_cts["total_atm"], axis = 0)
    return domain_cts

In [32]:
filename = "BMI_18S_05_0377_R_genes_kegg_by_domain.csv"
kegg_cts = pd.read_csv(filename)
kegg_cts

,Unnamed: 0,KEGG,GC_adj,GC_adj Archaea,GC_adj Bacteria,GC_adj Duplodnaviria,GC_adj Eukaryota,GC_adjUnclassified,gene_counts,gene_counts Archaea,gene_counts Bacteria,gene_counts Duplodnaviria,gene_counts Eukaryota,gene_countsUnclassified
0,0,K00003,NaN,NaN,0.600000,NaN,NaN,NaN,NaN,NaN,10.1292,NaN,NaN,NaN
1,1,K00010,NaN,NaN,0.566000,NaN,NaN,NaN,NaN,NaN,4.4062,NaN,NaN,NaN
2,2,K00012,NaN,NaN,0.588414,NaN,NaN,NaN,NaN,NaN,56.0823,NaN,NaN,NaN
3,3,K00014,NaN,NaN,0.613108,NaN,NaN,NaN,NaN,NaN,32.5311,NaN,NaN,NaN
4,4,K00015,NaN,NaN,0.560000,NaN,NaN,NaN,NaN,NaN,6.9279,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2199,2199,K24158,NaN,NaN,0.574332,NaN,NaN,NaN,NaN,NaN,14.2475,NaN,NaN,NaN
2200,2200,K24163,NaN,NaN,0.591000,NaN,NaN,NaN,NaN,NaN,8.0699,NaN,NaN,NaN
2201,2201,K24217,NaN,NaN,0.643000,NaN,NaN,NaN,NaN,NaN,3.7352,NaN,NaN,NaN
2202,2202,K24288,NaN,NaN,0.748000,NaN,NaN,NaN,NaN,NaN,7.9264,NaN,NaN,NaN
2203,2203,K24450,NaN,0.645,NaN,NaN,NaN,NaN,NaN,2.4299,NaN,NaN,NaN,NaN

In [9]:
kegg_cts["ID"]= filename.replace("_R_genes_kegg_by_domain.csv","")

In [23]:
keggT = kegg_cts.transpose()

In [24]:
keggT

,0,1,2,3,4,5,6,7,8,9,...,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203
KEGG,K00003,K00010,K00012,K00014,K00015,K00020,K00024,K00029,K00030,K00031,...,K23997,K24017,K24042,K24105,K24131,K24158,K24163,K24217,K24288,K24450
GC_adj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GC_adj Archaea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.645
GC_adj Bacteria,0.6,0.566,0.588414,0.613108,0.56,0.563,0.56,0.608,0.542,0.647123,...,0.590845,0.741,0.604567,0.553509,0.619,0.574332,0.591,0.643,0.748,NaN
GC_adj Duplodnaviria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GC_adj Eukaryota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GC_adjUnclassified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.604,NaN,NaN,NaN,NaN,NaN
gene_counts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gene_counts Archaea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.4299
gene_counts Bacteria,10.1292,4.4062,56.0823,32.5311,6.9279,6.9738,14.1419,3.302,12.934,54.4503,...,13.8114,10.0258,19.5045,61.131,2.5064,14.2475,8.0699,3.7352,7.9264,NaN
gene_counts Duplodnaviria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gene_counts Eukaryota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gene_countsUnclassified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.1254,NaN,NaN,NaN,NaN,NaN

In [33]:
keggT.columns = keggT.loc['KEGG']

KEGG
K00003         0.6
K00010       0.566
K00012    0.588414
K00014    0.613108
K00015        0.56
            ...
K24158    0.574332
K24163       0.591
K24217       0.643
K24288       0.748
K24450         NaN
Name: GC_adj Bacteria, Length: 2204, dtype: object

In [62]:
keggT = pd.DataFrame(kegg_cts[['GC_adj Bacteria', 'KEGG']]).T
keggT.columns = keggT.loc['KEGG']
keggT = keggT.drop(['KEGG'])
keggT["ID"]= filename.replace("_R_genes_kegg_by_domain.csv","")
keggT = keggT.reset_index(drop=True)
keggT

KEGG,K00003,K00010,K00012,K00014,K00015,K00020,K00024,K00029,K00030,K00031,...,K24017,K24042,K24105,K24131,K24158,K24163,K24217,K24288,K24450,ID
0,0.6,0.566,0.588414,0.613108,0.56,0.563,0.56,0.608,0.542,0.647123,...,0.741,0.604567,0.553509,0.619,0.574332,0.591,0.643,0.748,NaN,BMI_18S_05_0377

In [ ]:
domain_cts["ID"]= filename.replace("_R_genes_genecounts_by_domain.csv","")
domain_cts["total_atm"] = domain_cts["AA_C"]+domain_cts["AA_H"]+domain_cts["AA_N"]+domain_cts["AA_O"]+domain_cts["AA_S"]
domain_cts[["AA_C", "AA_H", "AA_N", 
                "AA_O", "AA_S"]] = domain_cts[["AA_C", "AA_H", "AA_N", 
                                               "AA_O", "AA_S"]].div(domain_cts["total_atm"], axis = 0)